@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.centered-title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.section {
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.landing-section {
    background-color: #ffffff;
    color: #141414;
    font-size: 3rem;
}

.about-section {
    background-color: #ffffff;
    color: #141414;
}

.projects-section {
    background-color: #ffffff;
    color: #141414;
}

.contact-section {
    background-color: #ffffff;
    color: #141414;
}

main {
    margin-top: 50rem;
}

footer {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    height: 100%;
}

.typed-text {
    font-weight: 600;
    color: #2196f3; 
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #ffffff;
    margin-left: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { background-color: #000000; }
    49% { background-color: #000000; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: #000000; }
}